Source: ros-kinetic-pyros-test
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin (>= 0.6.18), ros-kinetic-message-generation (>= 0.2.10), ros-kinetic-roslint (>= 0.10.0), ros-kinetic-rospy (>= 1.11.19), ros-kinetic-rostest (>= 1.11.19), ros-kinetic-rostopic (>= 1.11.19), ros-kinetic-rosunit (>= 1.11.12), ros-kinetic-std-msgs (>= 0.5.10)
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-pyros-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime (>= 0.4.12), ros-kinetic-rospy (>= 1.11.19), ros-kinetic-std-msgs (>= 0.5.10)
Description: Basic test nodes for Pyros dynamic ROS interface
