Source: ros-jade-pyros-test
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin (>= 0.6.18), ros-jade-message-generation (>= 0.2.10), ros-jade-roslint (>= 0.10.0), ros-jade-rospy (>= 1.11.19), ros-jade-rostest (>= 1.11.19), ros-jade-rostopic (>= 1.11.19), ros-jade-rosunit (>= 1.11.12), ros-jade-std-msgs (>= 0.5.10)
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-pyros-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-message-runtime (>= 0.4.12), ros-jade-rospy (>= 1.11.19), ros-jade-std-msgs (>= 0.5.10)
Description: Basic test nodes for Pyros dynamic ROS interface
